.center {

    width: 30vw;
    height: 80vh;
    border-radius: 10px;
    margin-top: 15px;
    position: relative;
    padding: 10px;
    background-color: black;

}

.contaner {
    display: flex;
    justify-content: center;
    background-color: white;

}

* {
    margin: 0%;
    padding: 0%;
    font-family: sans-serif;
}

.screen {
    width: 28vw;
    height: 80px;
    position: relative;
    top: 5px;
    margin-left: 15px;
    font-size: 60px;
    color: white;
    background-color: white;
    z-index: 3;
    text-align: right;
    border: none;
    margin-bottom: 80px;
    background: transparent;
    overflow: hidden;
    border: 2px solid white;
    border-radius: 10px;
    padding: 0px  3px;
    

}

.buttoncontaner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    padding: 10px;
    
}

.button {
    font-size: 40px;
    height: 60px;
    width: 60px;
    border-radius: 10px;
    box-shadow: -6px -6px 10px white;
    background: transparent;
    color: white;



}

.equal {
    padding: 10px 60px;
    border-radius: 10px;
    font-size: 30px;
    box-shadow: -6px -6px 10px white;
    background: transparent;
    color: white;

}
