.center {

    width: 31vw;
    height: 90vh;
    background-color: rgb(34, 30, 30);
    border-radius: 10px;
    margin-top: 15px;
    position: relative;
    padding: 10px;

}

.contaner {
    display: flex;
    justify-content: center;
    background-color: white;

}

* {
    margin: 0%;
    padding: 0%;
    font-family: sans-serif;
}

.screen {
    width: 27vw;
    height: 80px;
    position: relative;
    top: 5px;
    margin-left: 15px;
    font-size: 60px;
    color: white;
    text-align: right;
    padding: 10px;
    border: none;
    margin-bottom: 80px;
    background: transparent;
    overflow: hidden;

}

.buttoncontaner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;

}

.button {
    font-size: 40px;
    height: 60px;
    width: 60px;
    border-radius: 10px;
    box-shadow: -6px -6px 10px white;
    background: transparent;
    color: white;



}

.equal {
    padding: 10px 60px;
    border-radius: 10px;
    font-size: 30px;
    box-shadow: -6px -6px 10px white;
    background: transparent;
    color: white;

}
